<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Edit Personal Representatives</title>
<!-- AngularJS library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content" ng-app="repApp" ng-controller="repCtrl">
	
		<script th:inline="javascript">
		/*<![CDATA[*/
			var app = angular.module("repApp", []);
			app.controller('repCtrl', function($scope, $http) {
				
				$scope.reps = [];
				//$scope.rep = "";
				$scope.loadTable = function() {
					// Get list of reps from rest api.
					$http.get("/iTrust2/api/v1/editPersonalRepresentatives").then(
						function(response) {
							$scope.reps = response.data;
							$scope.message = "";
						}, function(rejection) {
							$scope.reps = [];
							$scope.message = "Could not display personal representatives.";
						});
				}
				
				$scope.removeRow = function(rep) {
					$http.delete('/iTrust2/api/v1/editPersonalRepresentatives' + rep.self.username).then(
							function(response) {
								$scope.loadTable();
								$scope.message = "";
							}, function(rejection) {
								$scope.message = "Could not remove personal representative";
							})
				}
				
				// handle add representative button click
				$scope.addRep = function() {
					console.log($scope.rep);
					$http.post("/iTrust2/api/v1/editPersonalRepresentatives", $scope.rep).then(
							function(response) {
								$scope.loadTable();
								$scope.rep = "";
								$scope.errorAdding = "";
							}, function(rejection) {
								$scope.errorAdding = "Could not add personal representative";
								console.log(rejection.status)
							})
					
				}

				// load table upon page loading
				console.log($scope.rep)
				$scope.loadTable();
				
			});
		/*]]>*/
		</script>		
		
		<div ng-app="repApp" ng-controller="repCtrl">	
			<h4 style="color:red" ng-model="message"></h4>
			<h1>Your Personal Representatives</h1>
			<table style="width:100%">
				<tr>
					<td style="vertical-align: top">
						<table class="table">
							<tr>
								<th>Patient ID</th>
								<th>Action</th>
							</tr>
							<tr name="idRow" ng-repeat="r in reps">
								<td name="idCell">{{r.self.username}}</td>
								<td>
									<input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(r)"/>
								</td>
							</tr>
						</table>
					</td>
					<td style="width:35%;vertical-align: top">
						<div style="padding: 0px 0px 20px 10px">
							<h3>Add Personal Representative</h3>
						</div>
						
						<form class="form-horizontal" role="form" name="addRepForm" ng-submit="addRep(addRepForm.$valid)">
							<div class="form-group" style="padding-left:30px">
								<label>Patient ID</label>
								<input type="text" class="form-control" name="rep" ng-model="rep" required/>
							</div>
							<div class="form-group" style="padding-left:30px">								
								<div style="padding-left:170px">
									<button class="btn btn-primary" name="submit">Add Representative</button> 
									<!-- <input type="submit" value="Add Code" class="btn btn-primary"/>  -->
								</div>
							</div>
						</form>
						<div>
							<!-- <h4 style="color: red" ng-show="addCodeForm.$valid">Code doesn't meet specifications</h4>  -->
							<p style="color:red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<!--  
		<script th:inline="javascript">
		/*<![CDATA[*/
			var app = angular.module("repApp", []);
			app.controller('repCtrl', function($scope, $http) {
				$scope.reps = [];
				$scope.loadTable = function() {
					// Get list of reps from rest api.
					$http.get("/iTrust2/api/v1/editPersonalRepresentatives/myPatients").then(
						function(response) {
							$scope.reps = response.data;
							$scope.message = "";
						}, function(rejection) {
							$scope.reps = [];
							$scope.message = "Could not display patients represented.";
						});
				}
				
				$scope.removeRow = function() {
					$http.delete("/iTrust2/api/v1/editPersonalRepresentatives/removeSelf").then(
							function(response) {
								$scope.loadTable();
								$scope.message = "";
							}, function(rejection) {
								$scope.message = "Could not remove patient represented";
							})
				}

				// load table upon page loading
				$scope.loadTable();
				
			});
		/*]]>*/
		</script>
		
		<div ng-app="repApp" ng-controller="repCtrl">	
			<h4 style="color:red" ng-model="message"></h4>
			<h1>Patients You Represent</h1>
			<table style="width:100%">
				<tr>
					<td style="vertical-align: top">
						<table class="table">
							<tr>
								<th>Patient ID</th>
								<th>Action</th>
							</tr>
							<tr name="idRow" ng-repeat="r in reps">
								<td name="idCell">{{r.id}}</td>
								<td>
									<input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(r)"/>
								</td>
							</tr>
						</table>
					</td>
					
				</tr>
			</table>
		</div>

	</div>
	-->
</body>
</html>