<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout :: head(title=~{::title},links=~{})">
	<title>View Diagnoses</title>
	
	<!-- Angular and Bootstrap files  -->
	<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	</head>
 
	<body th:include="layout :: body" th:with="content=~{::content}">
		<div th:fragment="content">
		
		<script th:inline="javascript">
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
		/*<![CDATA[*/
			var app = angular.module("viewDiagnoses", []);
			app.controller('controller', function($scope, $http) {
				
				
				$http.get("/iTrust2/api/v1/patients").then(
						function(response) {
							$scope.patients = response.data;
						});
				
				$scope.displayName = function(p) {
					return p.firstName + " " + p.lastName + " (" + p.self.username + ")";
				}
				
				$scope.searchFilter = "";
				$scope.filterPatients = function(patient) {
					return ($scope.displayName(patient)).toLowerCase().match($scope.searchFilter.toLowerCase());
				}
				
				
				$scope.patientID = "";
				$scope.prescriptions = [];
				$scope.message = "";
				

				$scope.loadAll = function() {
					$scope.loadDemo();
					$scope.loadPres();
					$scope.loadDiag();
					console.log($scope);
				}
				
				//Demographics
				$scope.loadDemo = function() {
					$http.get("/iTrust2/api/v1/emergencyHealthRecords/demo/" + $scope.selectedPatient).then(
						function(response) {
							$scope.demo = response.data;
							$scope.message = "";
						}, function(rejection) {
							$scope.demo = "";
							$scope.message = "Unable to find patient by ID or full name";
						});
				
				}
				
				//Diagnosis
				$scope.loadDiag = function() {
					$http.get("/iTrust2/api/v1/emergencyHealthRecords/diag/" + $scope.selectedPatient).then(
						function(response) {
							$scope.diagnoses = response.data;
						}, function(rejection) {
							$scope.diagnoses = [];
							$scope.message = "Unable to find patient by ID or full name";
						});
				
				}
				
				//Prescriptions
				$scope.loadPres = function() {
					$http.get("/iTrust2/api/v1/emergencyHealthRecords/pres/" + $scope.selectedPatient).then(
						function(response) {
							$scope.prescriptions = response.data;
						}, function(rejection) {
							$scope.prescriptions = [];
							$scope.message = "Unable to find patient by ID or full name";
						});
				
				}
				
				

				
				// Helper method to create 2-digit version of a value -- from documentOfficeVisit.html
				function twoDigit(num) {
					if (num < 10) {
						return "0" + num;
					}
					return num;
				}
				
				// Format a date from given json
				$scope.getDate = function getDate(date) {
					/* The months start at 0... only the months.  So we have to add 1 to get the correct input.*/
					month = date.month + 1;
					return twoDigit(month) + "/" + twoDigit(date.dayOfMonth) + "/" + date.year;
				}
			});
		</script>
		
		<div ng-app="viewDiagnoses" ng-controller="controller">
		
			<!-- Info on tables from https://hello-angularjs.appspot.com/removetablerow -->
			<div class="container">
				<h4 style="color:red" ng-model="message"></h4>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
				
								<h1>Emergency Health Records</h1>
							</div>
						
				<br>
				

			<div class="panel-body">
			<h2>Patients:</h2>
			<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
				and https://docs.angularjs.org/api/ng/filter/filter -->
			<h4>Search: <input type="text" name="search" id="search" ng-model="searchFilter"/></h4>
			<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
			<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
			<ul style="overflow:auto;height=90%;">
			<!-- Information on how labels wor from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
							<li ng-repeat="patient in patients | filter:filterPatients"><h4><label>
									<input type="radio" ng-model="$parent.selectedPatient"
									name="patient" value="{{patient.self.username}}"
									ng-click='$parent.selectPatient(patient); loadAll()' />&nbsp;{{$parent.displayName(patient)}}</label>
							</h4></li>
						</ul>
			</div>

				
				<div>
                <p style="color:red" ng-model="errorAdding" id="errP">{{message}}</p>
                </div>
                <br>
                
			
				
			<div class="panel-body">
				<h2>Demographics</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Age</th>
							<th>Date of Birth</th>
							<th>Gender</th>
							<th>Blood Type</th>
						</tr>
					</thead>
					<tbody>
						<tr name="demographics">
							<td name="name" id="demoname"> {{demo.name}} </td>
							<td name="age"> {{demo.age}} </td>
							<td name="dob"> {{demo.dateOfBirth}} </td>
							<td name="gender"> {{demo.gender}} </td>
							<td name="blood"> {{demo.bloodType}} </td>
						</tr>
					</tbody>			
				</table>
			</div>



			<div class="panel-body">
				<h4 style="color:red" ng-model="message"></h4>
				
				<h2>Diagnoses</h2>
				<table style="width:100%" class="table table-bordered">
					<thead>
						<tr>
							<th>Date</th>
							<th>HCP</th>
							<th>ICD-10 Code</th>
							<th>Description</th>
							<th>Notes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in diagnoses" name="diagnosis">
							<td name="date">{{getDate(d.visit.date)}}</td>
							<td name="hcp">{{d.visit.hcp.username}}</td>
							<td name="code">{{d.code.code}}</td>
							<td name="description">{{d.code.description}}</td>
							<td name="note">{{d.note}}</td>
						</tr>
					</tbody>			
				</table>
			</div>



			<div class="panel-body">
				<h4 style="color:red" ng-model="message"></h4>
				
				<h2>Prescriptions</h2>
				<table style="width:100%" class="table table-bordered">
					<thead>
						<tr>
							<th>NDC Code</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in prescriptions" name="prescriptions">
							<td name="pcode">{{p.id}}</td>
							<td name="pname">{{p.drug.name}}</td>
						</tr>
					</tbody>			
				</table>
			</div>
		</div>
		</div>	
		</div>
		</div>
		</div>	
	</body>
</html>