<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Edit Personal Representatives</title>
<!-- AngularJS library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content" ng-app="repApp" ng-controller="repCtrl">
	
		<script th:inline="javascript">
		/*<![CDATA[*/
			var app = angular.module("repApp", []);
			app.controller('repCtrl', function($scope, $http) {
				
				$scope.reps = [];
				$scope.reps2 = [];
				$scope.patient = "";
				$scope.showRep = function(patient) {
					// Get list of patient representatives from rest api.
					$http.get('/iTrust2/api/v1/editPersonalRepresentatives/' + patient.self.username).then(
						function(response) {
							$scope.reps = response.data;
							$scope.patient = patient;
							$scope.message = "";
						}, function(rejection) {
							$scope.reps = [];
							$scope.message = "Could not view patient's personal representatives.";
						});
					$http.get('/iTrust2/api/v1/editPersonalRepresentatives/patientRepresentees/' + patient.self.username).then(
							function(response) {
								$scope.reps2 = response.data;
								$scope.message = "";
							}, function(rejection) {
								$scope.reps2 = [];
								$scope.message = "Could not view patient's personal representees.";
							});
				}

				// handle add representative button click for patient
				$scope.addRep = function(rep) {
					// Add patient representative
					$http.post('/iTrust2/api/v1/editPersonalRepresentatives/' + rep.self.username, $scope.rep).then(
							function(response) {
								//$scope.loadTable();
								$scope.rep = "";
								$scope.errorAdding = "";
							}, function(rejection) {
								$scope.errorAdding = "Could not add personal representative for patient";
							})
					
				}

				// load table upon page loading
				
			});
		/*]]>*/
		</script>		
		
		<div ng-app="repApp" ng-controller="repCtrl">	
			<h4 style="color:red" ng-model="message"></h4>
			<h1>View Personal Representatives</h1>
			
			<form class="form-horizontal" role="form" name="showRepForm" ng-submit="showRep(showRepForm.$valid)">
				<div class="form-group" style="padding-left:30px">
					<label>Patient ID</label>
					<input type="text" class="form-control" name="patient" ng-model="patient" required/>
				</div>
				<div class="form-group" style="padding-left:30px">								
					<div style="padding-left:170px">
						<button class="btn btn-primary" name="submit">View Representatives</button> 
						<!-- <input type="submit" value="Add Code" class="btn btn-primary"/>  -->
					</div>
				</div>
			</form>
			<table style="width:100%">
				<tr>
					<td style="vertical-align: top">
						<table class="table">
							<tr>
								<th>Patient ID</th>
							</tr>
							<tr name="idRow" ng-repeat="r in reps">
								<td name="idCell">{{r.self.username}}</td>
							</tr>
						</table>
					</td>
					<td style="width:35%;vertical-align: top">
						<div style="padding: 0px 0px 20px 10px">
							<h3>Add Personal Representative</h3>
						</div>
						
						<form class="form-horizontal" role="form" name="addRepForm" ng-submit="addRep(addRepForm.$valid)">
							<div class="form-group" style="padding-left:30px">
								<label>Patient ID</label>
								<input type="text" class="form-control" name="rep" ng-model="rep" required/>
							</div>
							<div class="form-group" style="padding-left:30px">								
								<div style="padding-left:170px">
									<button class="btn btn-primary" name="submit">Add Representative</button> 
									<!-- <input type="submit" value="Add Code" class="btn btn-primary"/>  -->
								</div>
							</div>
						</form>
						<div>
							<!-- <h4 style="color: red" ng-show="addCodeForm.$valid">Code doesn't meet specifications</h4>  -->
							<p style="color:red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<div ng-app="repApp" ng-controller="repCtrl">	
			<h4 style="color:red" ng-model="message"></h4>
			<h1>Patients You Represent</h1>
			<table style="width:100%">
				<tr>
					<td style="vertical-align: top">
						<table class="table">
							<tr>
								<th>Patient ID</th>
							</tr>
							<tr name="idRow" ng-repeat="r in reps2">
								<td name="idCell">{{r.self.username}}</td>
							</tr>
						</table>
					</td>
					
				</tr>
			</table>
		</div>

	</div>
	
</body>
</html>